/* Fonts */
@font-face {
    font-family: 'mplus';
    src: url(mplus-2c-medium.woff) format(woff),
    url(mplus-2c-medium.woff2) format(woff2);
    font-weight: 700;
        font-style: normal;
}

* {
    box-sizing: border-box;
}

div {
    font-family: 'mplus', Verdana;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://source.unsplash.com/random/?hanoi,afternoon,few,clouds');
    background-position: center;
        background-size: cover;
    color: rgb(41, 42, 44);
    font-family: 'mplus', Verdana;
}

/* Stucture */

input {
    width: 400px;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 30px;
    background-color: rgba(204, 222, 233, 0.623);
    outline: none;
    border: 3px solid rgba(67, 89, 104, 0.897);
    padding-left: 14px;
    font-size: 16px;
}

.weatherReport{
    display: flex;
    width: 600px;
    height: 300px;
    background-color: rgba(204, 222, 233, 0.897);
    border-radius: 10px;;
    border: 3px solid rgba(83, 114, 134, 0.897);
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
        padding-left: 30px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 60%;
    gap: 40px;
}

/* Section 1 */

.temperature {
    font-size: 60px;
    margin: -5px 0 10px 0;

}

.icon {
    width: 100px;
    margin-top: -15px;
}

.description {
    font-size: 20px;
}

/* Section 2 */

.section2 h1{
    text-align: center;
    font-size: 55px;
}

.windHumDiv, .minMaxDiv{
    display: flex;
    justify-content: space-around;
}

.dataDiv {
    text-align: center;
    width: 50%;
}

.dataTitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.dataTitle + div {
    font-size: 16px;
}


/* Responsive */

@media (max-width: 740px){

input{
    width: 90%;
}

.weatherReport {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 15% 10%;
}

.section1 {
    width: auto;
    padding: 0;
    margin-bottom: 10%;
}

.section2 {
    width: auto;
}

}